<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="header"/>
		<%= image_tag("logo.png", :alt => "Grabbit", :width =>"100px") %>
		
		<div id="user-nav"/>

			<%= link_to "Today's Deal", '/public/home'%>

<%= link_to "Manage Profiles", profiles_path %>
<%= link_to "Manage Deals", deals_path %>
<%= link_to "Manage Coupons", coupons_path %>
<%= link_to "Manage Orders", orders_path %>

				<%=link_to "Sign Out", destroy_user_session_path %>
		
	

		</div>

	</div>

	<%= flash[:notice] %>

<%= yield %>

</body>
</html>


